<section class="cartemenu">
  <h1>MENU</h1>
  <ul class="row">
    {% for item in site.cartemenu %}
      <li><a class="anchor-nav" id="{{ item.id }}-anchor" href="#{{ item.id }}"><p>{{ item.title }}</p><span class="jp">{{ item.jp }}</span></a></li>
    {% else %}
      <li>JSON error</li>
    {% endfor %}
  </ul>
</section>
<section class="carte row">
  <article id="entrees" class="carte__item" data-item="entrees">
    <div class="carte__item_title">
      <h2>Entrées <span class="jp">ペタイザー<span></h2>

      </div>
        <div class="carte__item_plate">
          <div class="carte__item_plate--name">
            <h3>Gyoza yaki <span class="jp">餃子<span></h3>
            <p>Pièces de raviolis grillés au porc et aux légumes.</p>
          </div>
          <div class="carte__item_plate--price">
            <p>X3 — 3.90</p>
            <p>X6 — 6.50</p>
            <p>X9 — 9.50</p>
          </div>
        </div>
        <div class="carte__item_plate">
          <div class="carte__item_plate--name">
            <h3>Karaage <span class="jp">から揚げ<span></h3>
            <p>Pièces de poulets croustillants marinés au soja et au gingembre</p>
          </div>
          <div class="carte__item_plate--price">
            <p>— 6.50</p>
          </div>
        </div>

  </article>
  <article  id="ramen"  class="extras">
    <h4>EXTRAS <span class="jp">別</span></h4>
    <div class="carte__item_extra">
      <ul>
        <li>Oeuf <span class="jp">卵</span><span class="price">— 1</span></li>
        <li>Chashu porc x2 <span class="jp">チャーシュー</span><span class="price">— 2.90</span></li>
        <li>Chashu poulet x2 <span class="jp">チャーシュー </span><span class="price">— 2.90</span></li>
        <li>Ravioli porc x2 <span class="jp">豚団子</span><span class="price">— 2.20</span></li>
      </ul>
      <ul>
        <li>Feuille d’algue x2 <span class="jp">海苔</span><span class="price">— 0.50</span></li>
        <li>Pousse de soja <span class="jp">もやし</span><span class="price">— 0.50</span></li>
        <li>Maïs <span class="jp">トウモロコシ</span><span class="price">— 0.50</span></li>
        <li>Oignon frit <span class="jp">揚げ玉ねぎ</span><span class="price">— 0.30</span></li>
      </ul>
    </div>
    <div class="carte__item_title">
      <h2>Tori Paitan <span class="jp">とり ぱいたん</span></h2>
      <p>Bouillon de poulet riche et crémeux</p>
    </div>
    <div class="carte__item_plate">
      <div class="carte__item_plate--name">
        <h3>MISO Ramen <span class="jp">味噌ラーメン</span></h3>
        <p>Bouillon à base de miso, chashu de porc, oeuf, bambou et pousse de soja</p>
      </div>
      <div class="carte__item_plate--price">
        <p>— 13.90</p>
      </div>
    </div>
    <div class="carte__item_plate">
      <div class="carte__item_plate--name">
        <h3>TORI PAITAN Ramen <span class="jp">トリパイタンラーメン</span></h3>
        <p>Chashu de poulet, bambou, épinard chinois et ciboulette</p>
      </div>
      <div class="carte__item_plate--price">
        <p>— 13.90</p>
      </div>
    </div>
    <div class="carte__item_plate">
      <div class="carte__item_plate--name">
        <h3>TANTAN Ramen <span class="jp">たんたんラーメン</span></h3>
        <p>Bouillon à base de sésame blanc torréfié, huile pimentée, chashu de porc, hâché de boeuf aux épices sichuan, oeuf, bambou et ciboulette</p>
      </div>
      <div class="carte__item_plate--price">
        <p>— 14</p>
      </div>
    </div>
    <div class="carte__item_title">
      <h2>Tori Chintan <span class="jp">とり ちんたん</span></h2>
      <p>Bouillon de poulet clair, délicat et léger</p>
    </div>
    <div class="carte__item_plate">
      <div class="carte__item_plate--name">
        <h3>TOKYO Ramen <span class="jp">東京ラーメン</span></h3>
        <p>Bouillon à base de sauce soja, chashu de porc, oeuf et bambou</p>
      </div>
      <div class="carte__item_plate--price">
        <p>— 13.90</p>
      </div>
    </div>
    <div class="carte__item_plate">
      <div class="carte__item_plate--name">
        <h3>WANTAN MEN Ramen <span class="jp">ワンタンラーメン</span></h3>
        <p>Bouillon à base de sel, chashu de poulet, wantan de porc, bambou et ciboulette</p>
      </div>
      <div class="carte__item_plate--price">
        <p>— 13.90</p>
      </div>
    </div>
  </article>
  <article  id="tsukemen"  class="">
    <div class="carte__item_title">
      <h2>Tsukemen <span class="jp">つけ麺</span></h2>
      <p>Nouilles froides accompagnées d’un bol de bouillon</p>
    </div>
    <div class="carte__item_plate">
      <div class="carte__item_plate--name">
        <h3>MISO Tsukemen <span class="jp">味噌つけ麺</span></h3>
        <p>Chashu de porc, oeuf, bambou, ciboulette accompagné d’un bouillon de poulet riche et crémeux à base de miso</p>
      </div>
      <div class="carte__item_plate--price">
        <p>— 13.50</p>
      </div>
    </div>
    <div class="carte__item_plate">
      <div class="carte__item_plate--name">
        <h3>SHOYU Tsukemen <span class="jp">醤油つけ麺</span></h3>
        <p>Chashu de porc, oeuf, bambou, ciboulette accompagné d’un bouillon de poulet clair à base de sauce soja</p>
      </div>
      <div class="carte__item_plate--price">
        <p>— 13.50</p>
      </div>
    </div>
  </article>
  <article id="mazesoba" class="">
    <div class="carte__item_title">
      <h2>Mazesoba <span class="jp">まぜそば</span></h2>
      <p>Nouilles sans bouillon accompagnées de sauce et toppings à mélanger</p>
    </div>
    <div class="carte__item_plate">
      <div class="carte__item_plate--name">
        <h3>CHASHU Mazesoba <span class="jp">チャーシューませそば</span></h3>
        <p>Chashu de porc, oeuf mollet, graines de sésames, bambou et ciboulette</p>
      </div>
      <div class="carte__item_plate--price">
        <p>— 13</p>
      </div>
    </div>
    <div class="carte__item_plate">
      <div class="carte__item_plate--name">
        <h3>KARAAGE Mazesoba <span class="jp">から揚げ油そば</span></h3>
        <p>Pièce de poulet croustillant, oeuf mollet, graines de sésames, bambou, ciboulette et feuille d’algue</p>
      </div>
      <div class="carte__item_plate--price">
        <p>— 13</p>
      </div>
    </div>
    <div class="carte__item_plate">
      <div class="carte__item_plate--name">
        <h3>TANTAN Mazesoba <span class="jp">タンタンマゼソバ</span></h3>
        <p>Hâché de boeuf sichuan, oeuf mollet, ciboulette et huile pimentée</p>
      </div>
      <div class="carte__item_plate--price">
        <p>— 13</p>
      </div>
    </div>
  </article>
  <article id="desserts" class="">
    <div class="carte__item_title">
      <h2>Desserts <span class="jp">デザート</span></h2>
      <!-- <p>Nouilles sans bouillon accompagnées de sauce et toppings à mélanger</p> -->
    </div>
    <div class="carte__item_plate">
      <div class="carte__item_plate--name">
        <h3>Tiramisu framboise/litichi <span class="jp"></span></h3>
        <!-- <p>Chashu de porc, oeuf mollet, graines de sésames, bambou et ciboulette</p> -->
      </div>
      <div class="carte__item_plate--price">
        <p>— 4</p>
      </div>
    </div>
    <div class="carte__item_plate">
      <div class="carte__item_plate--name">
        <h3>Panna cotta aux perles du japon, lait de coco et coulis de mangue <span class="jp"><span></h3>
        <!-- <p>Pièce de poulet croustillant, oeuf mollet, graines de sésames, bambou, ciboulette et feuille d’algue</p> -->
      </div>
      <div class="carte__item_plate--price">
        <p>— 4</p>
      </div>
    </div>
  </article>
</section>
