<div class="footer">
  <div class="row">
    <div class="footer__col col0 col col-6">
      <img src="assets/img/logo_footer.svg" alt="">
      <p>UMAI<br>Ramen Noodle Shop<br>5 rue des Orphelins — +33 (0)3 88 75 74 21</p>

    </div>
    <div class="footer__col col1 col col-2 col-md6">
      <ul>
        <li><a href="#">Contact</a></li>
        <li><a href="#">Newsletter</a></li>
        <li><a href="#">Blog</a></li>
      </ul>
    </div>
    <div class="footer__col col2 col col-2 col-md6">
      <ul>
        <li><a href="#">Privacy Policy</a></li>
        <li><a href="#">Cookie Policy</a></li>
        <li><a href="#">Mentions légales</a></li>
      </ul>
    </div>
    <div class="footer__col col3 col col-2 col-md12">
      <ul class="footer__social">
        <li>
          <a href="{{ site.social.fb.url }}" title="{{ site.social.fb.title }}">
            {% include "../assets/img/facebook.svg" ignore missing %}
          </a>
        </li>
        <li>
          <a href="{{ site.social.tw.url }}" title="{{ site.social.tw.title }}">
            {% include "../assets/img/twitter.svg" ignore missing %}
          </a>
        </li>
        <li>
          <a href="{{ site.social.ig.url }}" title="{{ site.social.ig.title }}">
            {% include "../assets/img/instagram.svg" ignore missing %}
          </a>
        </li>
        <li>
          <a href="{{ site.social.tiktok.url }}" title="{{ site.social.tiktok.title }}">
            {% include "../assets/img/tiktok.svg" ignore missing %}
          </a>
        </li>
        <li>
          <a href="{{ site.social.snap.url }}" title="{{ site.social.snap.title }}">
            {% include "../assets/img/snap.svg" ignore missing %}
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
