<section class="menu">
  <h2>{{ site.section.menu.title }}</h2>
  <p>{{ site.section.menu.text }}</p>
  <div class="row">
    <div class="menu__col col">
      <h4>{{ site.section.menu.items.item0.title }}</h4>
      <p>{{ site.section.menu.items.item0.text }}</p>
    </div>
    <div class="menu__col col">
      <h4>{{ site.section.menu.items.item1.title }}</h4>
      <p>{{ site.section.menu.items.item1.text }}</p>
    </div>
    <div class="menu__col col">
      <h4>{{ site.section.menu.items.item2.title }}</h4>
      <p>{{ site.section.menu.items.item2.text }}</p>
    </div>
  </div>
  <a class="bt menu__bt" href="menu.html">
    <p>{{ site.section.menu.bt }}</p>
  </a>
</section>
