<div class="topbar">
  <ul>
    <li>{{ site.topbar.item0 }}</li>
    <li>{{ site.topbar.item1 }}</li>
    <li>{{ site.topbar.item2 }}</li>
  </ul>
</div>
<header class="header">
  <nav class="header__left">
    <ul>
      <li><a href="#">{{ site.menu.item0 }}</a></li>
      <li><a href="#">{{ site.menu.item1 }}</a></li>
      <li><a href="#">{{ site.menu.item2 }}</a></li>
    </ul>
  </nav>
  <div class="header__center">
    <img src="/assets/img/umai_logo_menu.svg" alt="{{ site.title }}">
  </div>
  <nav class="header__right">
    <ul>
      <li><a href="#" class="contact">{{ site.menu.item3 }}</a></li>
      <li><a href="#"><img src="/assets/img/facebook.svg" width="30" alt=""></a></li>
      <li><a href="#"><img src="/assets/img/twitter.svg" width="30" alt=""></a></li>
      <li><a href="#"><img src="/assets/img/instagram.svg" width="30" alt=""></a></li>
      <li><a href="#" class="commande">{{ site.menu.item4 }}</a></li>
    </ul>
  </nav>
</header>
