<div class="topbar hide-sm">
  <ul>
    <li>{{ site.topbar.item0 }}</li>
    <li>{{ site.topbar.item1 }}</li>
    <li>{{ site.topbar.item2 }}</li>
  </ul>
</div>
<header class="header">
  <nav class="header__left hide-sm">
    <ul>
      <li><a class="anchor-nav" id="menu-anchor" href="#menu">{{ site.menu.item0 }}</a></li>
      <li><a class="anchor-nav" id="story-anchor" href="#story">{{ site.menu.item1 }}</a></li>
      <li><a class="anchor-nav" id="social-anchor" href="#social">{{ site.menu.item2 }}</a></li>
    </ul>
  </nav>
  <div class="header__center">
    <a class="anchor-nav" id="header-anchor" href="#header">
      <img src="assets/img/umai_logo_menu.svg" alt="{{ site.title }}">
    </a>
  </div>
  <nav class="header__right">
    <ul>
      <li class="hide-sm"><a href="#" class="contact">{{ site.menu.item3 }}</a></li>
      <li class="hide-sm header__right_social"><a href="{{ site.social.fb.url }}" target="_blank" title="{{ site.social.fb.title }}">
        {% include "../assets/img/facebook.svg" ignore missing %}
      </a></li>
      <li class="hide-sm header__right_social"><a href="{{ site.social.ig.url }}" target="_blank" title="{{ site.social.ig.title }}">
        {% include "../assets/img/instagram.svg" ignore missing %}
      </a></li>
      <li><a href="https://umai-ramen.fr/menu.html" class="commande"><span>{{ site.menu.item4 }}</span></a></li>
      <li class="burger"><a href="#">{% include "../assets/img/burger.svg" ignore missing %}</a></li>
    </ul>
  </nav>
</header>
<header class="header-mobile">
  <div class="header-mobile__close">
    {% include "../assets/img/cross.svg" ignore missing %}
  </div>
  <ul class="header-mobile__menu">
    <li><a class="anchor-nav" id="menu-anchor" href="#menu">{{ site.menu.item0 }}</a></li>
    <li><a class="anchor-nav" id="story-anchor" href="#story">{{ site.menu.item1 }}</a></li>
    <li><a class="anchor-nav" id="social-anchor" href="#social">{{ site.menu.item2 }}</a></li>
    <li><a href="mailto:contact@umai.fr">{{ site.menu.item3 }}</a></li>
  </ul>
  <ul class="header-mobile__social footer__social">
    <li>
      <a href="{{ site.social.fb.url }}" target="_blank" title="{{ site.social.fb.title }}">
        {% include "../assets/img/facebook.svg" ignore missing %}
      </a>
    </li>
    <li>
      <a href="{{ site.social.ig.url }}" target="_blank" title="{{ site.social.ig.title }}">
        {% include "../assets/img/instagram.svg" ignore missing %}
      </a>
    </li>

  </ul>
</header>
