<div class="topbar">
  <ul>
    <li>{{ site.topbar.item0 }}</li>
    <li>{{ site.topbar.item1 }}</li>
    <li>{{ site.topbar.item2 }}</li>
  </ul>
</div>
<header class="header">
  <nav class="header__left">
    <ul>
      <li><a href="#">{{ site.menu.item0 }}</a></li>
      <li><a href="#">{{ site.menu.item1 }}</a></li>
      <li><a href="#">{{ site.menu.item2 }}</a></li>
    </ul>
  </nav>
  <div class="header__center">
    <img src="/assets/img/umai_logo_menu.svg" alt="{{ site.title }}">
  </div>
  <nav class="header__right">
    <ul>
      <li><a href="#" class="contact">{{ site.menu.item3 }}</a></li>
      <li><a href="{{ site.social.fb.url }}" title="{{ site.social.fb.title }}">
        {% include "../assets/img/facebook.svg" ignore missing %}
      </a></li>
      <li><a href="{{ site.social.tw.url }}" title="{{ site.social.tw.title }}">
        {% include "../assets/img/twitter.svg" ignore missing %}
      </a></li>
      <li><a href="{{ site.social.ig.url }}" title="{{ site.social.ig.title }}">
        {% include "../assets/img/instagram.svg" ignore missing %}
      </a></li>
      <li><a href="#" class="commande"><span>{{ site.menu.item4 }}</span></a></li>
    </ul>
  </nav>
</header>
