<section id="social" class="social">
  <div class="row">
    <div class="col col__centered col-4">
      <h2>{{ site.section.social.title }}</h2>
      <p>{{ site.section.social.text }}</p>
    </div>

  </div>
  <div class="row">
    <ul class="social__links">
      <li>
        <a href="{{ site.social.fb.url }}" title="{{ site.social.fb.title }}">
          {% include "../assets/img/facebook.svg" ignore missing %}
        </a>
      </li>
      <li>
        <a href="{{ site.social.tw.url }}" title="{{ site.social.tw.title }}">
          {% include "../assets/img/twitter.svg" ignore missing %}
        </a>
      </li>
      <li>
        <a href="{{ site.social.ig.url }}" title="{{ site.social.ig.title }}">
          {% include "../assets/img/instagram.svg" ignore missing %}
        </a>
      </li>
      <li>
        <a href="{{ site.social.tiktok.url }}" title="{{ site.social.tiktok.title }}">
          {% include "../assets/img/tiktok.svg" ignore missing %}
        </a>
      </li>
      <li>
        <a href="{{ site.social.snap.url }}" title="{{ site.social.snap.title }}">
          {% include "../assets/img/snap.svg" ignore missing %}
        </a>
      </li>
    </ul>
  </div>
</section>
