<section class="social">
  <div class="row">
    <h2>{{ site.section.social.title }}</h2>
    <p>{{ site.section.social.text }}</p>
  </div>
  <div class="row">
    <ul class="social__links">
      <li><a href="{{ site.social.fb.url }}" title="{{ site.social.fb.title }}"><img src="/assets/img/fb.svg" alt="{{ site.social.fb.title }}"></a></li>
      <li><a href="{{ site.social.tw.url }}" title="{{ site.social.tw.title }}"><img src="/assets/img/tw.svg" alt="{{ site.social.tw.title }}"></a></li>
      <li><a href="{{ site.social.ig.url }}" title="{{ site.social.ig.title }}"><img src="/assets/img/ig.svg" alt="{{ site.social.ig.title }}"></a></li>
      <li><a href="{{ site.social.snap.url }}" title="{{ site.social.snap.title }}"><img src="/assets/img/snap.svg" alt="{{ site.social.snap.title }}"></a></li>
    </ul>
  </div>
</section>
