.header{
  position: fixed;
  z-index: 100;
  max-width: $max-width;
  width: 100%;
  height: 104px;
  left: 0;
  right: 0;
  margin: auto;
  top: 40px;
  background-color: $white;
  display: flex;
  flex-direction: row;
  &__left {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 50%;
    ul {
      li {
        display: inline-flex;
        margin-right: 90px;
        &:nth-last-child(){
          margin-right:0px;
        }
        a {
          font-size: 18px;
          font-weight: 700;
          color: $black;
          position: relative;
          text-decoration: none;

          &:after {
            @include pseudo-class;
            bottom:-6px;
            left: 0;
            width: 0%;
            height: 2px;
            background-color: $black;
            transition: width 600ms $out-circ;
          }
          &:hover {
            &:after {
              width: 100%;
            }
          }
          &.active {
            &:after {
              width: 100%;
            }
          }
        }
      }
    }
  }
  &__center {
    @include absolute(10);
    @include dimensions(130px, 44px);
    left: 0;top:-16px;
    right: 0;bottom:0;
    margin:auto;

  }
  &__right {
    width: 50%;

      display: flex;
      justify-content: flex-end;
      align-items: center;
    ul {
      li {
        display: inline-flex;
        line-height: 30px;
        
        a {
          &.contact {
            font-size: 14px;
            font-weight: 600;
            color: $black;
            position: relative;
            text-decoration: none;
            margin-right: 25px;
            &:after {
              @include pseudo-class;
              bottom:-4px;
              left: 0;
              width: 0%;
              height: 2px;
              transition: width 600ms $out-circ;
              background-color: $black;
            }
            &:hover {
              &:after {
                width: 100%;
              }
            }
            &.active {
              &:after {
                width: 100%;
              }
            }
          }
          &.commande {
            margin-left: 70px;
            margin-right: 50px;
            font-size: 18px;
            font-weight: 700;
            color: $black;
            position: relative;
            text-decoration: none;
            z-index: 10;
            &:after {
              @include pseudo-class(1);
              bottom:-27px;
              border-radius: 98px / 36px;
              left: -50px;
              width: 194px;
              height: 71px;
              border: 4px solid;
              border-image-slice: 1;
              border-width: 2px;
              //background-color: $white;
              transition: all 600ms $out-circ;
            }
            &:hover {
              &:after {
                border-radius: 98px / 36px;
                border-image-source:linear-gradient(to top, #feeaff 0%, #fff8d0 100%);
                // border-image:
                //background-image: linear-gradient(to top, #feeaff 0%, #ffffff 100%);
                //background-image: linear-gradient(to top, #fff8d0 0%, #fffce8 33%, #ffffff 100%);
              }
            }
          }
        }
      }
    }
  }
}
